<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head :: head('FormulárioEmp')}"></head>

<body>

	<header th:replace="~{fragmentos/header :: header('formularioemp')}"></header>

	<div class="divBackground">

		<div class="IForm container">

			<form action="/formularioemp/salvar" method="post" class="formulario">

				<div class="carousel">

					<div class="carousel-track" id="carouselTrack">

						<section class="etapa">

							<h2>Dados da empresa</h2>

							<label class="IForm label">Insira o CNPJ:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira o nome:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira a razão social:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira o segmento de mercado:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira o telefone:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira o email:</label>
							<input type="email" class="IForm input text">

							<label class="IForm label">Insira o site:</label>
							<input type="url" class="IForm input text">

							<label class="IForm label">Insira o linkedin:</label>
							<input type="url" class="IForm input text">

							<h4>Endereço</h4>

							<label class="IForm label">Insira a cidade:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira o CEP:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira o nome da rua:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira o número da rua:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira o bairro:</label>
							<input type="text" class="IForm input text">

							<label class="IForm label">Insira o UF:</label>
							<input type="text" class="IForm input text">

							<div class="botoes">

								<button type="submit" class="IForm input finalizaForm">
									Finalizar
								</button>

							</div>

						</section>

					</div>

				</div>

			</form>

		</div>

	</div>


	<script>


	</script>


</body>

</html>