<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head :: head('FormulárioCon')}"></head>

<body>

    <header th:replace="~{fragmentos/header :: header('formulariocon')}"></header>

    <div class="divBackground">

        <div class="IForm container">

			<form action="/formulariocon/salvar"
			      method="post"
			      class="formulario">

			    <div class="carousel">

			        <div class="carousel-track" id="carouselTrack">

			            <section class="etapa">

			                <h2>Dados do contrato</h2>

			                <label class="IForm label">Insira o CNPJ da empresa</label>
			                <input type="text" class="IForm input text">

			                <label class="IForm label">Insira o RA do estagiário</label>
			                <input type="text" class="IForm input text">

			                <label>Horário de entrada:</label>
			                <input type="time" class="IForm input text">

			                <label>Horário de saída:</label>
			                <input type="time" class="IForm input text">

			                <label>Carga horária:</label>
			                <input type="text" class="IForm input text">

			                <label>Banco de horas:</label>
			                <input type="text" class="IForm input text">

			                <label>Insira a area do estágio</label>
			                <input type="text" class="IForm input text">

			                <label>Insira a função do estagiário</label>
			                <input type="text" class="IForm input text">


			                <label class="IForm label">
			                    Descreva o tipo de trabalho que o estagiário irá desempenhar na empresa
			                </label>

			                <input type="text" class="IForm input text">

			                <label class="IForm label">Insira o CPF do supervisor</label>

			                <input type="text"
			                       class="IForm input text">

			                <div class="botoes">

			                    <button type="submit"
			                            class="IForm input finalizaForm">
			                        Finalizar
			                    </button>

			                </div>

			            </section>

			        </div>

			    </div>

			</form>

        </div>

    </div>


	<script>
	  
	</script>


</body>

</html>
