<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Index')}"></head>
<body>
 <header th:replace="~{fragmentos/header :: header(activePage='index')}"></header>

   <div class="divBackground">
		<div class="formDiv">
			<form>
				<label for="FNome"> Insira o nome do estágiario:</label>
				<input type="text" class="ITform" id="FNome">
				<label for="FNome"> Insira o nome do estágiario:</label>
				<input type="text" class="ITform" id="FNome">
				<label for="FNome"> Insira o nome do estágiario:</label>
				<input type="text" class="ITform" id="FNome">
				<label for="FNome"> Insira o nome do estágiario:</label>
				<input type="text" class="ITform" id="FNome">
				<label for="FNome"> Insira o nome do estágiario:</label>
				<input type="text" class="ITform" id="FNome">
			</form>
		</div>
   </div>
</body>
</html>

